*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game{
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
  height: 580px;
  background: rgb(30,144,255);
}


.slot{
  width: 90px;
  height: 90px;
  background: rgb(240,255,255);
  border: 1px solid rgb(0,0,0);
  border-radius: 50%;
}


.reset{
  position: absolute;
  left: 48%;
  border: 1px solid rgb(0,0,0);
  width: 5rem;
  top: 95vh;
  text-align: center;
  cursor: pointer;
}

#output{
  transform: translateX(300%);
  transform: translateY(800px);
  height: 50px;

  background-color: rgb(30,144,255);
  text-align: center;
}
